<!DOCTYPE html>
<html>
<head>
  <title>HomeSplash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <div id="Home">
<%= link_to "Home", root_path %>
</div>
  <div id="clearance_links">
  <% if signed_in? %>
     Welcome: <%= current_user.email %>
     <%= link_to (fa_icon "sign-out", text: "Sign Out?"), sign_out_path, method: :delete %>
   <% else %>
     <%= link_to (fa_icon "users", text: "Sign in"), sign_in_path %>
  <% end %>

  <div id="flash">
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %>
    </div>
  <% end %>
    </div>
  </div>
<%= yield %>

<%= render 'shared/footer' %>
</body>
</html>
