<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plan.Title %>
</p>

<p>
  <strong>Where:</strong>
  <%= @plan.where %>
</p>

<p>
  <strong>What:</strong>
  <%= @plan.what %>
</p>

<p>
  <strong>When:</strong>
  <%= @plan.when %>
</p>

<p>
  <strong>Done:</strong>
  <%= @plan.done %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
